.Cart_btn {
  background-color: orangered;
  width: auto;
  height: auto;
  font-size: 1.5em;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 50px;
  border: 3px solid #b59354;

  margin: 0;
}

.Cart_btn:hover {
  background-color: wheat;
  border-radius: 4px;
}
