.framer-ul-radialCh_container {
  display: flex;
  width: 80%;
  flex-flow: row;
  background-color: transparent;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.item {
  display: block;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  flex-shrink: 0;
}

.outline {
  margin: 0;
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  border: 10px solid white;
  border-radius: 50%;
}
