.home_container {
  margin: 6rem 6rem;
  overflow: hidden;
}

.Discount_Img {
  background-color: transparent;
  margin-top: 3rem;
  height: 60%;
  width: 60%;
  right: 3rem;
  position: relative;
  z-index: 1;
  position: fixed;
}

.text_container {
  display: grid;
  grid-template-rows: auto auto auto auto;
  grid-gap: 5px;
  padding: 10px;
  top: auto;
  position: fixed;
  z-index: 4000;
  left: 8rem;
  background-color: transparent;
}

.nike_text {
  text-shadow: 1px 1px black;
  font-size: 7em;
  text-transform: uppercase;
  text-align: center;
  background-color: transparent;
}
.header_discount {
  background-color: transparent;
  text-transform: uppercase;
  text-align: center;
  color: wheat;
  white-space: pre-line;
  font-size: 2em;
}

.text_discount {
  text-align: center;

  font-size: 1.5em;
  background-color: transparent;
}

.btn_Cart {
  text-align: center;
  background-color: transparent;
}

.vertical_line {
  margin-top: 40rem;
  width: 100rem;
  height: 2px;
  background-image: linear-gradient(
    to right,
    rgba(255, 0, 0, 0),
    #b59354,
    rgba(255, 0, 0, 0)
  );
}

.horizontal_line {
  margin-top: -45rem;
  float: right;
  width: 2px;
  height: 40rem;
  background-image: linear-gradient(
    to right,
    rgba(255, 0, 0, 0),
    #b59354,
    rgba(255, 0, 0, 0)
  );
}

.lines_v_h {
  position: fixed;
}

@media screen and (max-width: 972px) {
  .Discount_Img {
    visibility: hidden;
  }
  .text_container {
    padding: 0 1rem;

    left: -1rem;
    width: 100%;
  }
  .nike_text {
    font-size: 6em;
  }
  .header_discount {
    font-size: 1em;
  }

  .text_discount {
    font-size: 1em;
  }
}
@media screen and (max-width: 1300px) {
  .vertical_line {
    visibility: hidden;
  }

  .horizontal_line {
    visibility: hidden;
  }
}
