.flex-container {
 
        display: flex;
    flex-wrap: wrap;
        gap: 2rem;
    align-items: center;
  justify-content: center;
 
}

 .imgCard{
       height: 20rem;
    width: 25rem;
    border-radius: 15px;
    box-shadow: 5px 5px rgba(255, 99, 71, 0.2);
}

    
  
  .Card{
    
    margin-top: 1rem;
        color: ivory;
    text-align: center;
     }
     

  


  