.flex-container {

        display: flex;
    flex-wrap: wrap;
        gap: 2rem;
    align-items: center;
  justify-content: center;

  }

 .imgCard{
       height: 20rem;
    width: 25rem;
 
  }
  .Card{
    margin-top: 1rem;
        color: ivory;
    text-align: center;
        }
     

  


  